
.mapa iframe {
  width: 100%;
  max-width: 600px;
  height: 300px;
  border: 0;
  border-radius: 10px;
}

.foto-portada {
  width: 100%;
  max-width: 400px; /* puedes ajustar según el tamaño deseado */
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px; /* espacio debajo de la foto */
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); /* sombra ligera para elegancia */
}
